@import "../variables.scss";

.SearchInput__container {
  position: relative;

  .Input__SearchIcon {
    opacity: 0.5;
    position: absolute;
    left: 12px;
    top: 12px;
  }

  .SearchInput {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    border: 1px solid $greyBorder;
    padding: 12px 20px;
    padding-left: 40px;
    font-size: 16px;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  .Input__CloseIcon {
    opacity: 0.5;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
  }
}

@media (max-width: 1100px) {
  .SearchInput__container {
    display: none;
  }
}
