$black: #232323;
$background: #ffdf8c;
// $background: #559af4;
// $background: linear-gradient(to bottom, #559af4, #224f8c);
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$greyBorder: rgba(0, 0, 0, 0.1);

$container-width: 90%;

$duration: 0.15s;
